In [9]:
import plotly.express as px

In [12]:
data = px.data.gapminder().query("country=='New Zealand'")

In [13]:
data

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
1092,New Zealand,Oceania,1952,69.390,1994794,10556.57566,NZL,554
1093,New Zealand,Oceania,1957,70.260,2229407,12247.39532,NZL,554
1094,New Zealand,Oceania,1962,71.240,2488550,13175.67800,NZL,554
1095,New Zealand,Oceania,1967,71.520,2728150,14463.91893,NZL,554
1096,New Zealand,Oceania,1972,71.890,2929100,16046.03728,NZL,554
1097,New Zealand,Oceania,1977,72.220,3164900,16233.71770,NZL,554
1098,New Zealand,Oceania,1982,73.840,3210650,17632.41040,NZL,554
1099,New Zealand,Oceania,1987,74.320,3317166,19007.19129,NZL,554
1100,New Zealand,Oceania,1992,76.330,3437674,18363.32494,NZL,554
1101,New Zealand,Oceania,1997,77.550,3676187,21050.41377,NZL,554
1102,New Zealand,Oceania,2002,79.110,3908037,23189.80135,NZL,554
1103,New Zealand,Oceania,2007,80.204,4115771,25185.00911,NZL,554